html {
  
  background-image: url(https://nody.parat.ir/files/2021/08/07/nody-%D9%88%D8%A7%D9%84%D9%BE%DB%8C%D9%BE%D8%B1-%D8%A8%DB%8C%D9%86-%D8%A7%D9%84%D8%AD%D8%B1%D9%85%DB%8C%D9%86-%DA%A9%D8%B1%D8%A8%D9%84%D8%A7-1628282555.jpg);
  font-size: 100%;
  font-family: "Vazir";
}

.contianer {
  width: 1200px;
  margin: 0 auto;
}

.form {
  margin-top: 2rem;
}

.form .form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
  margin-bottom: 1rem;
  text-align: center;
}


.form label {
  font-weight: bold;
}

.form label,
.form input:not([type="checkbox"]) {
  display: block;
  margin-bottom: .7rem;
}

.form input:focus {
  background: #ddf1f2;
  outline: none;
  border: 1px solid #607f81!important
}

.form input.invalid,
.form input:invalid {
  background-color: #fcb9b9;
  border: 1px solid #ff5555 !important;
}

.form input.form-control {
  width: 100%;
  font-family: inherit;
  padding: .6rem .6rem;
  border-radius: 4px;
  border: 1px solid rgb(0, 110, 255);
}


.form input.form-control::placeholder {
  color: red;
}

.form input.form-control::-moz-placeholder {
  color: red;
} 

.form input.form-control:-moz-placeholder {
  color: red;
} 

.form input.form-control::-webkit-input-placeholder {
  color: red;
} 

.form input.form-control::-ms-input-placehoder {
  color: red;
} 


.checkbox {
  position: relative;
  padding-right: 2.1rem;
  padding-top: .4rem;
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  height: 25px;
  width: 25px;
  background-color: #eee;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
}


.checkbox:hover .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  top: 5px;
  right: 8px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.btn {
  border: none;
  font-family: inherit;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.btn-success {
  background-color: #16a085;
  color: white;
  border: 1px solid #0d6453;
  
}


.btn-danger {
  background-color: #e74c3c;
  color: white;
  border: 1px solid #933026;
}